h1, h2, h3 {
  color: black;
}

.navlink {
  color: #FFF;
  text-decoration: none;
}
.navlink:hover {
   color: #5B7B7A;
}

body {
  flex-grow: 1;
}

.notif {
  color: black;
  background-color: lightgreen;
  font-size: 20px;
  font-style: solid;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.error {
  color: black;
  background-color: red;
  font-size: 20px;
  font-style: solid;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}
